# Mesmas do docker-compose
POSTGRES_USER=sentinel
POSTGRES_PASSWORD=sentinel
POSTGRES_DB=sentinel
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_SECRET_KEY=

# Caminho absoluto para a pasta data/ no host (necessario para o Airflow)
# Windows: C:\Users\seu-usuario\...\fiap-sentinel\backend\data
# Linux/Mac: /home/seu-usuario/.../fiap-sentinel/backend/data
SENTINEL_DATA_PATH=